* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family:
        'Montserrat', sans-serif
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(image/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
width: 788.78px;
padding-top: 217px;
padding-bottom: 32px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
color: #FFFFFF;
}
.top__text {
width: 481px;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 32px;
color: #FFFFFF;
margin-bottom: 44px;
}
.button {
padding-left: 74.03px;
padding-right: 74.03px ;
padding-top: 13.3px;
padding-bottom: 13.3px;
box-sizing: border-box;
width: 234.06px;
height: 48.6px;    
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
background: #9C0332;
border-radius: 30px;
}