@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top {
    height: 735px;
    background-image: url(image/topback.mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .title {
    width: 343px;
    padding-top: 238.69px;
    padding-bottom: 32.95px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
  }

}